[submodule "platform_calibration"]
	path = repositories/platform_calibration
	url = https://github.com/Ezibenroc/platform-calibration.git
[submodule "peanut"]
	path = repositories/peanut
	url = https://github.com/Ezibenroc/peanut.git
[submodule "hpl"]
	path = repositories/hpl
	url = https://github.com/Ezibenroc/hpl.git
[submodule "calibration_analysis"]
	path = repositories/calibration_analysis
	url = https://github.com/Ezibenroc/calibration_analysis.git
[submodule "paper_src"]
	path = repositories/paper_src
	url = https://github.com/Ezibenroc/HPL-paper.git
[submodule "old_journal"]
	path = repositories/old_journal
	url = https://github.com/Ezibenroc/simulating_mpi_applications_at_scale.git
