[submodule "platform_calibration"]
	path = repositories/platform_calibration
	url = https://github.com/Ezibenroc/platform-calibration.git
[submodule "peanut"]
	path = repositories/peanut
	url = https://github.com/Ezibenroc/peanut.git
[submodule "hpl"]
	path = repositories/hpl
	url = https://github.com/Ezibenroc/hpl.git
[submodule "calibration_analysis"]
	path = repositories/calibration_analysis
	url = https://github.com/Ezibenroc/calibration_analysis.git
